// Place all the styles related to the Equipment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  // background-color: #2b3e50;
  // margin: 0px 0px 20px;
  /*border-bottom: 1px solid #FF6803;*/

  .title{
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.navigation{
  // background-color: #79589F;
  position: relative;
  z-index: 1;
  padding: 0px;
  margin-bottom: 0px;
  margin-right: -15px;
  margin-top: 20px;
  text-align: left;
  // width: 75%;
  // float: right;

  li.nav-item {
    // display: inline-block;
    list-style: none;
    // margin-right: -4px;
    padding: 5px 15px 3px 15px;
    //font-weight: 100;

    &:hover {
      border-right: 5px solid #df691a;
      cursor: pointer;
      font-weight: bold;
    }

    &.active {
      color: #FF6803;
      border-right: 5px solid #df691a;
      font-weight: bold;
      background: #79589F;
    }

    & > a {
      margin-bottom: 5px;
      &:hover {
        text-decoration: none;
      }
    }

    .link {
      outline: none;
      color: white;
      background-color: #534292;
      border: none;

      &.active {
        background: #79589F;
      }
    }
  }
}

#Container{
  margin-top: 10px;

  .mix{
    display: none;
  }

  .item {
    // background-color: #2b3e50;
    padding: 15px;
    // margin-bottom: 5px;
    // border-bottom: 2px solid #4e5d6c;
    border-bottom: 1px #ccc solid;
    width: 100%;

    i {
      font-size: 1.5em;
    }

    &:hover {
      border: 1px solid #79589F;
      box-shadow: 0 0 1px #79589F;
      -webkit-box-shadow: 0 0 1px #79589F;
      -moz-box-shadow: 0 0 1px #79589F;
      cursor: pointer;
    }

    .name {
      font-size: 1.2em;
      display: inline;
    }

    .inventory {
      font-size: 0.8em;
    }

    .manufacturer {
      display: inline;
    }

    .actions {
      display: inline-block;
      float: right;

      & > a {
        /*display: inline-block;*/
        /*visibility: hidden;*/
        display: none;

        i {
          padding-left: 5px;
        }

        i:hover {
          // color: #ffffff;
          color: black;
        }
      }

      .actions-link {
        display: inline-block;
        /*visibility: visible;*/
      }
    }

    .bottom {
      .department {
        font-size: 0.8em;

        .dropdown-menu {
          font-size: 1em;
          white-space: nowrap;
          padding: 10px;
          border: 1px solid #5cb85c;
          box-shadow: 0 0 5px #5cb85c;
          -webkit-box-shadow: 0 0 5px #5cb85c;
          -moz-box-shadow: 0 0 5px #5cb85c;
        }

        .btn-group {
          vertical-align: text-top;
          button.dropdown-toggle {
            // background-color: #2b3e50;
            background-color: white;
            font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
            border: none;
            border-bottom: 1px solid #2b3e50;
            padding: 0px;
            margin: 0px;

            &:hover {
              color: #5cb85c;
            }
            &:focus {
              color: #5cb85c;
            }
          }
        }

      }

      .created_at{
        float: right;
        font-size: 0.7em;
      }
    }
  }
}

/* ----------- edit and new form ------------ */
.form-horizontal {
  // background-color: #2b3e50;
  padding: 20px 30px 20px;

  legend {
    border-bottom: 1px solid #FF6803;
  }

  .twitter-typeahead {
    width: 100%;
  }
}

.search-field {
  margin-bottom: 30px;
  i {
    z-index: 100;
    color: black;
  }

  input {
    padding-left: 30px;
  }
}


.edit {
  background-color: #534292;
  .menu {
    background-color: #534292;
    .text-muted {
      color: #2b3e50;
    }
  }

  .back {
    background-color: #534292;
    margin-top: 10px !important;
    .text-muted {
      color: #2b3e50;
    }
  }

  .header {
    background-color: #534292;
    // border-bottom: 1px solid #FF6803;

    .title {
      /*border-left:2px solid #ccc;*/
      margin: 0px;
      padding: 20px 0 20px 20px;
      text-align: center;
      font-size: 2.5em;
      color: white;
    }
  }

  .content {
    background-color: white;
    // border-bottom: 1px solid #FF6803;

    #equipment_equipment_type_id {
      border: 1px #ccc solid !important;
    }
  }
}